<!DOCTYPE html>
<html>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script
src="Scripts/myscript.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
    <label>Search:</label><input type="text" placeholder="Search Employee" ng-model="searchText">
    <input type="checkbox" name="exactm" ng-model="exactMatch"><label>Exact Match</label> <br/>
    Only Name to Filter:<input ng-model="searchText.name" type="text" placeholder="Enter Only Name"><br />
    Only City to Filter:<input ng-model="searchText.city" type="text" placeholder="Enter Only Ciy"><br /><br />
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" employee in employees | filter:searchText : exactMatch">
                <td>{{employee.name}}</td>
                <td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.city}}</td>
            </tr>
        </tbody>
    </table>
</div>
    </body>
</html>